@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
    --primary: #4c57f2;
    --secondary: #4c75f2;
    --textColor: #333333;
}

body{
    font-family: 'Indie Flower', cursive;
}

/*@Header*/
.yoda-header {
    background-color: var(--primary);
    text-align: center;
    font-size: 3rem;
}
header div {
    padding: 0.5rem;
}

/*@Main Content*/
main {
    margin: auto;
    max-width: 600px;
    padding: 2rem;
    text-align: center;
}
main img {
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

textarea {
    min-height: 100px;
    min-width: 500px;
    margin-bottom: 1rem;
    font-family: 'Indie Flower', cursive;
    font-size: large;
}

#btn-translate {
    background-color: var(--primary);
    color: var(--textColor);
    padding: 1rem;
    min-width: 140px;
    border: 0rem;
    text-align: center;
    margin: 1rem 2rem;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    border-radius: 2rem;
    outline: none;

}

#btn-clear {
    background-color: var(--secondary);
    color: var(--textColor);
    padding: 1rem;
    min-width: 140px;
    border: 0rem;
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    border-radius: 2rem;
    outline: none;
}

#translate-output{
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    padding: 1rem;
    overflow: scroll;
    margin: auto;
    border-radius: 2rem;
}


/*@footer*/
footer {
    background-color: var(--primary);
    text-align: center;
    padding: 0rem;
    width: 100%;
}
footer div {
    font-size: 2rem;
    padding-top: 0.3rem;
}
footer p {
    margin-top: 0.4em;
}