nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 70px;
  background-color: #000;
  font-family: "cursive";
}

ul {
  list-style-type: none;
}

ul li {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

ul li a {
  display: inline-block;
  color: #fff;
  font-size: 12pt;
  text-decoration: none;
  text-align: center;
  padding: 12.7px 12.7px;
  box-sizing: border-box;
  height: 45px;
}
